<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/577ce366-39ae-4d09-8fbb-bd66af2c75b9/resourcegroups/marriageagencystatistics/providers/Microsoft.Web/sites/MarriageAgencyStatisticsScheduler</ResourceId>
    <ResourceGroup>marriageagencystatistics</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://marriageagencystatisticsscheduler.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>marriageagencystatisticsscheduler.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MarriageAgencyStatisticsScheduler</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MarriageAgencyStatisticsScheduler</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="brideforever" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:marriageagencystatistics.database.windows.net,1433;Initial Catalog=brideforever;Persist Security Info=False;User ID=ravado;Password=65536Gmail*;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:marriageagencystatistics.database.windows.net,1433;Initial Catalog=brideforever;Persist Security Info=False;User ID=ravado;Password=65536Gmail*;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MarriageAgencyStatistics.DataAccess.EF.BrideForeverDataContext, MarriageAgencyStatistics.DataAccess.EF" MigrationConfiguration="MarriageAgencyStatistics.DataAccess.EF.Migrations.Configuration, MarriageAgencyStatistics.DataAccess.EF" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="auxiliaryDb" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:marriageagencystatistics.database.windows.net,1433;Initial Catalog=auxiliaryDb;Persist Security Info=False;User ID=ravado;Password=65536Gmail*;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:marriageagencystatistics.database.windows.net,1433;Initial Catalog=auxiliaryDb;Persist Security Info=False;User ID=ravado;Password=65536Gmail*;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:marriageagencystatistics.database.windows.net,1433;Initial Catalog=auxiliaryDb;Persist Security Info=False;User ID=ravado;Password=65536Gmail*;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\auxiliaryDb_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:marriageagencystatistics.database.windows.net,1433;Initial Catalog=auxiliaryDb;Persist Security Info=False;User ID=ravado;Password=65536Gmail*;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="auxiliaryDb-Web.config Connection String">
      <ParameterValue>Data Source=tcp:marriageagencystatistics.database.windows.net,1433;Initial Catalog=auxiliaryDb;Persist Security Info=False;User ID=ravado;Password=65536Gmail*;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="brideforever-Web.config Connection String">
      <ParameterValue>Data Source=tcp:marriageagencystatistics.database.windows.net,1433;Initial Catalog=brideforever;Persist Security Info=False;User ID=ravado;Password=65536Gmail*;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>